@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/********************************************
              Global Styles
********************************************/

body {
  margin-inline: auto;
}

/********************************************
              Tailwind Variables
********************************************/

@theme {
  /* BRAND COLORS */
  --color-moko-blue: #0077ff;
  --color-okja-yellow: #ffc800;
  --color-niko-purple: #9a42ff;
  --color-dark-primary: #333333;
  --color-dark-secondary: #222222;
  --color-light-primary: #ffffff;
  --color-light-secondary: #e0e0e0;
  --color-green-signifier: #00c853;
  --color-red-signifier: #ff1744;
  --color-sunny-orange: #ff8a00;
  --color-soft-pink: #ff4f9a;

  /* TYPOGRAPHY  */
  --font-cherry: "Cherry Bomb One", sans-serif;
  --font-yomogi: "Yomogi", cursive;
  --font-work: "Work Sans", sans-serif;

  /* BREAKPOINTS */
  --breakpoint-desktop: 968px;
  --breakpoint-xs: 425px;
}

/********************************************
        UTILITY CLASSES
********************************************/

/* Flex */
@utility flex-row-between-center {
  @apply flex flex-row justify-between items-center;
}

@utility flex-row-evenly-center {
  @apply flex flex-row justify-evenly items-center;
}

@utility flex-row-center-center {
  @apply flex flex-row justify-center items-center;
}

@utility flex-row-around-center {
  @apply flex flex-row justify-around items-center;
}

@utility flex-col-center-center {
  @apply flex flex-col items-center justify-center;
}

@utility theme-toggle-styles {
  @apply bg-light-primary text-dark-primary dark:bg-dark-secondary dark:text-light-primary;
}

@utility group-hover-rotate {
  @apply group-hover:rotate-5 group-hover:scale-110 transition-transform;
}

@utility dashed-btn {
  @apply border border-dashed py-1 px-4 rounded-sm shadow-sm hover:shadow-xl hover:border-solid transition-all duration-300  hover:cursor-pointer;
}

@utility dashed-border {
  @apply border border-dark-primary/50 dark:border-light-primary/50 border-dashed;
}

@utility green-cta-btn {
  @apply bg-green-signifier  px-4 py-1 rounded-sm text-dark-primary font-work transition-all duration-300 ease-in hover:bg-green-signifier/90 hover:cursor-pointer hover:shadow-lg shadow-sm;
}

/********************************************
        CUSTOM CLASSES
********************************************/

/********************************************
        MOBILE FOOTER
********************************************/
.mobile-footer-wrapper {
  @apply border-t border-dark-primary/20 shadow-sm dark:border-light-primary/20;
}
