@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/********************************************
              Global Styles
********************************************/

body {
  margin-inline: auto;
}

/********************************************
              Tailwind Variables
********************************************/

@theme {
  /* brand colors */
  --color-moko-blue: #0077ff;
  --color-okja-yellow: #ffc800;
  --color-niko-purple: #9a42ff;
  --color-dark-primary: #333333;
  --color-dark-secondary: #222222;
  --color-light-primary: #ffffff;
  --color-light-secondary: #e0e0e0;
  --color-green-signifier: #00c853;
  --color-red-signifier: #ff1744;
  --color-sunny-orange: #ff8a00;
  --color-soft-pink: #ff4f9a;

  /* TYPOGRAPHY  */
  --font-cherry: "Cherry Bomb One", sans-serif;
  --font-yomogi: "Yomogi", cursive;
  --font-work: "Work Sans", sans-serif;
  /* BREAKPOINTS */
  --breakpoint-desktop: 968px;
  --breakpoint-xs: 425px;
}

/********************************************
        Reusable Custom Tailwind Classes
********************************************/

/* Flex */
@utility flex-row-between {
  @apply flex flex-row justify-between items-center;
}

/********************************************
        Custom Classes
********************************************/
@layer utilities {
  .bg-moko-textured {
    background: linear-gradient(180deg, #0077ff 0%, #0a7fff 50%, #0072f0 100%);
  }
}
