@import "tailwindcss";

/********************************************
              Global Styles
********************************************/

body {
  max-width: 1600px;
}

/********************************************
              Tailwind Variables
********************************************/

@theme {
  /* brand colors */
  --color-brand-blue: #004898;
}

/********************************************
        Reusable Custom Tailwind Classes
********************************************/

/* Flex */
@utility flex-row-between {
  @apply flex flex-row justify-between items-center;
}

/********************************************
        Custom Classes
********************************************/

/* Back Top Btn */
.back-top-btn {
  @apply fixed bottom-20 right-6 z-40 bg-brand-blue/75 text-white w-10 h-10 rounded-full flex items-center justify-center shadow-lg hover:bg-brand-blue hover:cursor-pointer md:bottom-10 lg:right-10;
}
