@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/********************************************
              Global Styles
********************************************/

body {
  margin-inline: auto;
}

/********************************************
              Tailwind Variables
********************************************/

@theme {
  /* BRAND COLORS */
  --color-moko-blue: #0077ff;
  --color-okja-yellow: #ffc800;
  --color-okja-yellow-soft: #ffd35a;
  --color-niko-purple: #9a42ff;
  --color-niko-purple-soft: #c7a3ff;
  --color-moko-blue-soft: #7fb6ff;
  --color-dark-primary: #333333;
  --color-dark-secondary: #222222;
  --color-light-primary: #ffffff;
  --color-light-secondary: #e0e0e0;
  --color-green-signifier: #00c853;
  --color-red-signifier: #ff1744;
  --color-sunny-orange: #ff8a00;
  --color-soft-pink: #ff4f9a;

  /* TYPOGRAPHY  */
  --font-cherry: "Cherry Bomb One", sans-serif;
  --font-yomogi: "Yomogi", cursive;
  --font-work: "Work Sans", sans-serif;

  /* BREAKPOINTS */
  --breakpoint-desktop: 968px;
  --breakpoint-xs: 425px;
}

/********************************************
        UTILITY CLASSES
********************************************/

/* Flex */
@utility flex-row-between-center {
  @apply flex flex-row justify-between items-center;
}

@utility flex-row-evenly-center {
  @apply flex flex-row justify-evenly items-center;
}

@utility flex-row-center-center {
  @apply flex flex-row justify-center items-center;
}

@utility flex-row-around-center {
  @apply flex flex-row justify-around items-center;
}

@utility flex-col-center-center {
  @apply flex flex-col items-center justify-center;
}

@utility flex-col-center-start {
  @apply flex flex-col justify-center items-start;
}
@utility theme-toggle-styles {
  @apply bg-light-primary text-dark-primary dark:bg-dark-secondary dark:text-light-primary;
}

@utility group-hover-rotate {
  @apply group-hover:rotate-5 group-hover:scale-110 transition-transform;
}

@utility dashed-btn {
  @apply border border-dashed border-dark-primary dark:border-light-primary py-1 px-4 rounded-sm shadow-sm hover:shadow-xl hover:border-solid transition-all duration-300  hover:cursor-pointer;
}

@utility dashed-border {
  @apply border-2 border-dark-primary/50 border-dashed p-4 dark:border-light-primary/50;
}

@utility green-cta-btn {
  @apply bg-green-signifier  px-4 py-1 rounded-sm text-dark-primary font-work transition-all duration-300 ease-in hover:bg-green-signifier/90 hover:cursor-pointer hover:shadow-lg shadow-sm;
}

/********************************************
        CUSTOM CLASSES
********************************************/

/********************************************
        MOBILE FOOTER
********************************************/
.mobile-footer-wrapper {
  @apply border-t border-dark-primary/20 shadow-sm dark:border-light-primary/20;
}

/********************************************
        THE HERO
********************************************/
.character-btns {
  @apply font-bold px-3 py-2 text-sm mt-2 rounded-lg md:mt-4 hover:rotate-3 hover:scale-110 transition-all duration-200 hover:cursor-pointer;
}
/********************************************
        LANDING SECTION REUSABLE 
********************************************/

.section-wrapper {
  @apply relative py-12 font-yomogi theme-toggle-styles px-4 xs:px-8;
}

.section-big-numbers {
  @apply font-extralight z-50 text-7xl md:text-9xl;
}

.section-title-type {
  @apply font-bold text-4xl sm:text-5xl sm:tracking-tight lg:text-6xl lg:tracking-tighter;
}

.section-body-type {
  @apply text-lg leading-6 tracking-tight xs:text-2xl xs:leading-7 md:text-xl md:leading-6 xl:text-2xl xl:leading-7;
}

.section-card-title {
  @apply font-black mb-2 tracking-tighter text-2xl  xs:text-4xl md:text-3xl lg:text-4xl;
}

.section-title-underline {
  @apply border-b-2 border-dashed border-dark-primary/50 dark:border-light-primary/50 w-fit pb-2 mb-4;
}

/********************************************
        HOME SECTION ONE
********************************************/
.one-intro-card {
  @apply rounded-2xl relative p-4 text-dark-primary md:grid md:grid-cols-2 md:place-items-center lg:gap-8 max-w-7xl;
}

.one-intro-card-img {
  @apply rounded-2xl w-full object-cover max-h-100;
}

/********************************************
        HOME SECTION TWO
********************************************/
.two-story-card {
  @apply relative border-2 border-dark-primary/50 border-dashed p-4 rounded-2xl dark:border-light-primary/50 md:grid md:grid-cols-2 md:place-items-center max-w-7xl mx-auto;
}

/********************************************
        HOME SECTION THREE
********************************************/
.three-story-card {
  @apply rounded-2xl p-4 relative mb-8 md:mb-20 md:grid md:grid-cols-2 md:place-items-center max-w-7xl mx-auto text-dark-primary;
}

/********************************************
        HOME SECTION FOUR
********************************************/
.four-story-card {
  @apply relative md:grid md:grid-cols-2 md:place-items-center md:gap-4 max-w-7xl mx-auto;
}

/********************************************
        ABOUT STORY SECTION
********************************************/
.about-wrapper {
  @apply mx-auto px-4 md:px-8 py-12 md:py-20 space-y-16 md:space-y-24 font-yomogi  bg-light-primary dark:bg-dark-secondary;
}

.about-card-container {
  @apply grid grid-cols-1 relative md:grid-cols-2 gap-16 items-center;
}
