@import "tailwindcss";

/********************************************
              Global Styles
********************************************/

body {
  max-width: 1600px;
  font-family: "Work Sans", sans-serif;
  background-color: var(--color-light-primary);
}

/********************************************
              Tailwind Variables
********************************************/

@theme {
  /* brand colors */
  --color-moko-blue: #0077ff;
  --color-okja-yellow: #ffc800;
  --color-niko-purple: #9a42ff;
  --color-text-primary: #333333;
  --color-text-secondary: #222222;
  --color-light-primary: #f5f5f5;
  --color-light-secondary: #e0e0e0;
  --color-green-signifier: #00c853;
  --color-red-signifier: #ff1744;

  /* TYPOGRAPHY  */
  --font-cherry: "Cherry Bomb One", sans-serif;
  --font-yomogi: "Yomogi", cursive;
  --font-work: "Work Sans", sans-serif;
}

/********************************************
        Reusable Custom Tailwind Classes
********************************************/

/* Flex */
@utility flex-row-between {
  @apply flex flex-row justify-between items-center;
}

/********************************************
        Custom Classes
********************************************/
